/* :root{
    --background-color: #7a70b4;
    --text-color: #000000;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #544540;
    background-image: url('/img/backgrounds/purple-cross.jpg');
    background-size: 200px;
    background-repeat: repeat;
    color: var(--text-color);
} */
/* :root{
    --background-color: #090909;
    --text-color: #9b1b1c;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #544540;
    background-image: url('/img/backgrounds/red-cross-2.jpg');
    background-size: 200px;
    background-repeat: repeat;
    color: var(--text-color);
}
.wrapper{
    background-color: #544540;
    background-image: url('/img/backgrounds/black-noise.jpg');
    background-size: 400px;
    background-repeat: repeat;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0;
} */
:root{
    --background-color: #d6c8ea;
    --text-color: #111016;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #544540;
    background-image: url('/img/backgrounds/purp-green-abstract-large.png');
    background-size: 900px;
    background-repeat: repeat;
    color: var(--text-color);
    position: relative;
    z-index: -99;
}
.wrapper{
    background-color: var(--background-color);
    padding: 1rem;
    padding: 0;
}
#back a{
    color: var(--text-color);
}
hr{
    margin: 1rem 0;
}
#content{
    padding: 10px;
}
#bio{
    margin-top: 1rem;
}
#info tr{
    display: flex;
}
#info td{
    display: block;
    padding: 10px;
    border: solid 1px var(--text-color);
    margin: 0;
}
#selfPortrait{
    max-width: 200px;
}
#info td:not(:first-child){
    border-left: none;
}
.interests td{
    width: 100%;
    padding: 0.5rem;
}
.interests ul li{
    list-style-type: none;
    padding: 0.5rem 1rem;
}
.interests ul li::before{
    content: '✧';
    color: var(--text-color);
    margin-right: 0.5rem;
}
/* #chatHolder{
    position: fixed;
    right: 0;
    top: 0;
    min-height: 500px;
    background-color: var(--background-color);
    transform: rotate(0deg);
    z-index: -9;
}
#chatHolder:hover, #chatHolder:active{
    transform: translate(0, 0) rotate(0deg);
    z-index: 9;
} */
.interest{
    display: flex;
    align-items: center;
}
/* .interestName{
} */

.likeButton, .dislikeButton{
    margin-left: auto;
    padding-left: 1rem;
    cursor: pointer;
    opacity: 0;
    color: var(--text-color);
}
.likeButton.liked, .dislikeButton.hates{
    opacity: 1;
}
.interest:hover .likeButton, .interest:hover .dislikeButton{
    opacity: 1;
}
th{
    font-size: 18px;
    background-color: rgba(37, 6, 6, 0.24);
    display: block;
    width: 100%;
    padding: 5px;
}
#favourites{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#incompleteGoalsContainer{
    max-height: 200px;
    overflow-y: auto;
}
#incompleteGoalsContainer li{
    display: flex;
}