body{
    background-color: brown;
}
.wrapper{
    padding: 20px;
    background-color: var(--background-color);
    min-height: 100vh;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
#bio{
    margin-top: 1rem;
}
#info tr{
    display: flex;
}
#info td{
    display: block;
    padding: 10px;
    border: solid 1px brown;
    margin: 0;
}
#info td:not(:first-child){
    border-left: none;
}
.interests td{
    min-width: 200px;
    padding: 0.5rem;
}
.interests ul li{
    list-style-type: none;
    padding: 0.5rem 1rem;
}
.interests ul li::before{
    content: '✧';
    color: brown;
    margin-right: 0.5rem;
}
#chatHolder{
    position: fixed;
    right: 0;
    top: 0;
    height: 500px;
    background-color: var(--background-color);
}
.interest{
    display: flex;
    align-items: center;
}
/* .interestName{
} */

.likeButton, .dislikeButton{
    margin-left: auto;
    padding-left: 1rem;
    cursor: pointer;
    opacity: 0;
    color: brown;
}
.likeButton.liked, .dislikeButton.hates{
    opacity: 1;
}
.interest:hover .likeButton, .interest:hover .dislikeButton{
    opacity: 1;
}
th{
    font-size: 18px;
    background-color: rgba(165, 42, 42, 0.24);
    display: block;
    width: 100%;
    padding: 5px;
}
.hr{
    border-top: solid 1px brown;
}