:root{
    --background-color: #fddce4;
    --text-color: #544540;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #544540;
    background-image: url('/img/backgrounds/cybersil.jpg');
    background-size: 200px;
    background-repeat: repeat;
    color: var(--text-color);
}
#back a{
    color: var(--text-color);
}
.wrapper{
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}
hr{
    margin: 1rem 0;
}
#content{
    padding: 10px;
}
#bio{
    margin-top: 1rem;
}
#info tr{
    display: flex;
}
#info td{
    display: block;
    padding: 10px;
    border: solid 1px brown;
    margin: 0;
}
#info td:not(:first-child){
    border-left: none;
}
.interests td{
    width: 200px;
    padding: 0.5rem;
}
.interests ul li{
    list-style-type: none;
    padding: 0.5rem 1rem;
}
.interests ul li::before{
    content: '✧';
    color: brown;
    margin-right: 0.5rem;
}
#chatHolder{
    position: fixed;
    right: 0;
    top: 0;
    height: 500px;
    background-color: var(--background-color);
}
.interest{
    display: flex;
    align-items: center;
}
/* .interestName{
} */

.likeButton, .dislikeButton{
    margin-left: auto;
    padding-left: 1rem;
    cursor: pointer;
    opacity: 0;
    color: brown;
}
.likeButton.liked, .dislikeButton.hates{
    opacity: 1;
}
.interest:hover .likeButton, .interest:hover .dislikeButton{
    opacity: 1;
}
th{
    font-size: 18px;
    background-color: rgba(165, 42, 42, 0.24);
    display: block;
    width: 100%;
    padding: 5px;
}