body{
    background-color: blue;
}
.wrapper{
    background-color: var(--background-color);
    padding: 1rem;
}
li{
    margin-left: 1rem;
}
hr{
    margin: 2rem 0;
}
#postlist{
    list-style-type: none;
}
.posttitle{
    margin-left: 0;
    font-weight: 600;
}
.posttitle a{
    text-decoration: none;
}
.postdetails::before{
    content: '✦';
}
