body{
    overflow: hidden;
    background-image: url('/img/cork.jpg');
    background-size: 200px;
    background-repeat: repeat;
}
.wrapper{
    max-width: 900px;
    height: 80vh;
    overflow: hidden;
}
h1{
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffe600;
    padding: 20px 10px 10px 10px;
    width: fit-content;
    margin: auto;
}
#table{
    width: 100%;
    height: 100%;
}
#table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    height: 100%;
}
#table div{
    display: block;
    margin: 1rem;
    width: 100%;
    height: 100%;
}
#table div iframe{
    width: 100%;
    background-color: #ff6347;
}
#news{
    min-height: 300px;
    grid-row-start: 1;
    grid-row-end: 3;
}
iframe{
    border: none;
    height: 100%;
}
#guestbook{
    position: fixed;
    top: 10%;
    left: 1rem;
    bottom: 10%;
    transform: rotate(-1deg);
    width: 350px;
}
#guestbook iframe{
    width: 100%;
}
@media screen and (max-width: 1650px){
    body{
        overflow-y: auto;
    }
    .wrapper{
        overflow-y: auto;
    }
    #guestChatWrap{
        margin: 1rem auto;
        width: 900px;
    }
    #guestbook{
        width: calc(50% - 1rem);
        display: inline-block;
        position: relative;
        min-height: 500px;
        transform: rotate(0);
    }
    #guestbook iframe{
        min-height: 500px;
    }
    #chatHolder{
        width: calc(50% - 2rem);
        display: inline-block;
        position: relative;
        transform: none;
        right: 0;
        top: 0;
    }
}