body{
    overflow: hidden;
    background-image: url('/img/cork.jpg');
    background-size: 200px;
    background-repeat: repeat;
}
.wrapper{
    max-width: 900px;
    height: 90vh;
}
header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffe600;
    padding: 10px;
    width: 100%;
    margin: auto;
}
hr{
    margin-bottom: 0.5rem;
}
#table{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
}
#table div{
    display: block;
    width: 100%;
}
#table div iframe{
    width: 100%;
    background-color: #ff6347;
}
#news{
    background-color: #f1e9e9;
    padding: 1rem;
}
#events{
    background-color: #f1e9e9;
    padding: 1rem;
}
#events hr{
    margin: 0.5rem 0 0.5rem 0;
}
#goals{
    background-color: #f1e9e9;
    padding: 1rem;
    overflow: auto;
    grid-row: span 2;
}
iframe{
    border: none;
    height: 100%;
}
#guestbook{
    position: fixed;
    top: 10%;
    left: 1rem;
    bottom: 10%;
    transform: rotate(-1deg);
    width: 350px;
}
#guestbook iframe{
    width: 100%;
}
ul{
    list-style: none;
    list-style-type: none;
}
#news li{
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 0 0.5rem 0;

    display: block;
    border-top: solid black 1px;
}
#news .updatetitle{
    font-weight: 600;
}
#news .date{
    font-style: italic;
    font-size: 12px;
}
#news .date::before{
    content: ">> ";
    font-style: italic;
    font-size: 12px;
}
.button{
    display: block;
    font-weight: 600;
    text-decoration: underline;
    width: 100%;
    text-align: center;
}
#news a:hover{
    background-color: #afa4a44d;
}
#events a{
    display: block;
    font-weight: 600;
    text-decoration: underline;
    width: 100%;
    text-align: center;
}
#events a:hover{
    background-color: #afa4a44d;
}
#goals li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
}
#goals li:nth-child(odd){
    background-color: #afa4a44d;
}
#goals li.complete::before{
    content: "☑";
    padding: 0 0.5rem 0 0.5rem;
}
#goals li.complete p{
    text-decoration: line-through;
}
#goals li.complete:hover p{
    text-decoration: none;
}
#goals li.incomplete::before{
    content: "☐";
    padding: 0 0.5rem 0 0.5rem;
}
#hitcounter, #lastUpdated{
    background-color: #ffe600;
    padding: 0.5rem;
    width: fit-content;
    position: fixed;
}
#hitcounter{
    top: 2rem;
    left: 2rem;
}
#lastUpdated{
    top: 2rem;
    right: 2rem;
}
@media screen and (max-width: 1650px){
    body{
        overflow-y: auto;
        height: 100vh;
    }
    .wrapper{
        overflow-y: auto;
    }
    #guestChatWrap{
        margin: 1rem auto;
        width: 900px;
        overflow-y: auto;
    }
    #guestbook{
        width: calc(50% - 1rem);
        display: inline-block;
        position: relative;
        min-height: 500px;
        transform: rotate(0);
    }
    #guestbook iframe{
        height: 100%;
    }
    #chatHolder{
        width: calc(50% - 2rem);
        display: inline-block;
        position: relative;
        transform: none;
        right: 0;
        top: 0;
    }
    #chatHolder:hover{
        transform: 0;
    }
    #hitcounter{
        position: relative;
    }
}