:root{
    --background-color: #bead8f;
    --text-color: #1c1513;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #544540;
    background-image: url('/img/backgrounds/rose-pattern.jpg');
    background-size: 350px;
    background-repeat: repeat;
    color: var(--text-color);
}
#back a{
    color: var(--text-color);
}
.wrapper{
    margin: auto;
    padding: 20px;
    background-color: #eee7d2;
}
#cameras{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}
#cameras img{
    max-height: 200px;
}

.wrapper{
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}
hr{
    margin: 1rem 0;
}
#content{
    padding: 10px;
}