:root{
    --background-color: #fddce4;
    --text-color: #544540;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #544540;
    background-image: url('/img/backgrounds/cybersil.jpg');
    background-size: 200px;
    background-repeat: repeat;
    color: var(--text-color);
}
#back a{
    color: var(--text-color);
}
#clocks{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}
#clocks img{
    max-height: 250px;
}
.wrapper{
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}
hr{
    margin: 1rem 0;
}
#content{
    padding: 10px;
}
