body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/img/stone-repeating.jpg');
    background-repeat: repeat;
    background-size: 300px;
    overflow: hidden;
}
.wrapper{
    max-width: 100%;
    text-align: center;
    padding: 2rem;
    height: fit-content;
    padding-bottom: 0;
}
/* a{
    display: block;
    padding: 1rem;
    margin: auto;
    margin-top: 30%;
    width: fit-content;
    background-color: #ffbb00;
    font-weight: bold;
    text-decoration: none;
    color: #3d197f;
    border: 3px solid #3d197f;
} */
h1{
    display: block;
    background-image: url('/img/wood-planks.jpg');
    background-repeat: repeat;
    background-size: 100px;
    padding: 1rem;
    width: 300px;
    margin: 30px auto;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

a{
    display: block;
    width: 300px;
    border-bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}
a img{
    width: 100%;
}
footer{
    width: 100%;
    min-height: 200px;
    margin-top: -5px;
    background-image: url('/img/cobblestone.jpg');
    border-top: solid 15px #e0dedc;
}
main{
    display: flex;
    flex-direction: row-reverse;

}

#disclaimer{
    background-image: url('/img/wood-planks.jpg');
    
    background-repeat: repeat;
    background-size: 100px;
    padding: 1rem;
    font-weight: bold;
    width: 300px;
    height: fit-content;
    text-align: left;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin-right: auto;
}