body{
    background-color: rgb(74, 21, 131);
    background-image: url('/img/backgrounds/skull.jpg');
    background-size: 300px;
    background-repeat: repeat;
}
.wrapper{
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}
hr{
    margin: 1rem 0;
}
#postlist{
    list-style-type: none;
}
#content{
    padding: 10px;
    width: 100%;
}
iframe{
    height: 100%;
    min-height: 86vh;
}