body{
    background-image: url('/img/twinkling-stars.gif');
    background-repeat: repeat;
    background-size: 300px;
    overflow: hidden;
}
main{
    width:120vw;
    height: 90vh;
    margin: auto;
    margin-top: 50px;
    margin-left: -100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "weather bulletin portrait shelf chat"
    "weather desk desk shelf chat"
    "weather desk desk phone chat";
    gap: 6rem;
    transition: transform 200ms ease-out;
}
img{
    width: 100%;
}
#bulletin{
    display: block;
    animation: floating-1 5s ease-in-out infinite;
    grid-column: span 1;
    grid-area: bulletin;
}
#desk{
    display: block;
    grid-area: desk;
    animation: floating-2 6s ease-in-out infinite;
}
#shelf{
    transform: rotate(-3deg);
    height: 40vh;
    grid-area: shelf;
    animation: floating-3 4s ease-in-out infinite;
}
#selfPortrait{
    display: block;
    animation: floating-4 3s ease-in-out infinite;
    grid-area: portrait;
}

#phone{
    grid-area: phone;
    margin-top: 100px;
    animation: floating-4 15s ease infinite;
    width: 80%;

}
#weather{
    grid-area: weather;
    color: white;
    position: relative;
    height: fit-content;
}
#weatherHeader{
    display: flex;
}
#weatherData{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
#weather .tooltip{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}
#weather:hover .tooltip{
    opacity: 1;
}
#chatHolder{
    position: relative;
    width: 100%;
    height: 100;
}
@keyframes floating-1 {
    0% {
        transform: translateY(0) rotate(5deg);
    }
    50% {
        transform: translateY(-20px) rotate(3deg);
    }
    100% {
        transform: translateY(0) rotate(5deg);
    }
}
@keyframes floating-2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes floating-3 {
    0% {
        transform: translateY(0) rotate(-3deg);
    }
    50% {
        transform: translateY(-15px) rotate(-1deg);
    }
    100% {
        transform: translateY(0) rotate(-3deg);
    }
}
@keyframes floating-4 {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-10px) rotate(2deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}
#bulletin:hover, #desk:hover, #shelf:hover, #selfPortrait:hover{
    animation-play-state: paused;
}
@media screen and (max-width: 900px){
    body{
        overflow-y: auto;
    }
    #chatHolder{
        right: -250px;
    }
    main{
        width: 60vw;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "bulletin"
        "portrait"
        "desk"
        "phone"
        "shelf"
        ;
    }
    #chatHolder:hover, #chatHolder:active{
        transform: translateX(-150px) rotate(-2deg);
    }
    #phone{
        margin-top: 0;
    }

}