:root{
    --background-color: #898c6f;
    --text-color: #060a0a;
    --link-color: #262262;
}
body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/img/backgrounds/green-pattern-repeating.jpg');
    background-size: 300px;
    color: var(--text-color);
}
.wrapper{
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}
hr{
    margin: 1rem 0;
}
#content{
    padding: 10px;
    width: 100%;
}
a{
    color: #262262;
}
#back a{
    background-color: #262262;
    color: #939270;
}
header{
    width: 100%;
    height: fit-content;
    border-bottom: solid 1px black;
    background-color: #898c6f;
    padding: 1rem;
}
h2{
    font-size: 20px;
    margin-bottom: 0.5rem;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

#musicPosts ul{
    list-style-type: none;
}
#albumholder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}
#albumholder .album{
    width: calc(50% - 0.5rem);
}
.album img{
    width: 100%;
}
.album{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
}
.albumdetails{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.albumtitle{
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}
.albumtitle:hover{
    text-decoration: underline;
}
.albumartist{
    text-decoration: none;
}
.albumartist:hover{
    text-decoration: underline;
}

.song{
    background-color: #fff;
    padding: 10px;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
}
.song img{
    width: 100%;
}