:root{
    --background-color: #898c6f;
    --text-color: #060a0a;
    --link-color: #262262;
}
body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/img/backgrounds/green-pattern-repeating.jpg');
    background-size: 300px;
    color: var(--text-color);
}
.wrapper{
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}
hr{
    margin: 1rem 0;
}
#postlist{
    list-style-type: none;
}
#content{
    padding: 10px;
    width: 100%;
}
article{
    background-color: #f7f4eb;
    padding: 1rem;
}