body{
    background-image: url('/img/twinkling-stars.gif');
    background-repeat: repeat;
    background-size: 300px;
}

header{
    max-width: 900px;
    margin: auto;
    background-color: #432672b5;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
#back a{
    color: white;
}
.wrapper{
    background-image: url('../img/shelf.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(728px*1.4);
    height: calc(1488px*1.4);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    /* padding: 350px 100px 100px 100px; */
    padding: 100px;
    padding-top: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px repeat(6, 250px);
    gap: 2.5rem;
}
/* #clockShrine{
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-left: 80px;
}
#cameraShrine{
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-right: 80px;
    padding-top: 120px;
}
#clockShrine img, #cameraShrine img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}
#filmRecs{
    display: block;
    width: 250px;
    max-height: 400px;
    margin-top: 25px;
    margin-left: 30px;
}
#filmRecs img{
    width: 100%;
    object-fit: contain;
    margin: 0;
}
#musicRecs{
    display: block;
    max-height: 300px;
    margin-left: 0;
    margin-top: -40px;
} */
 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;

 }
@media screen and (min-width: 1018px){  
    #clockShrine{
        grid-column: span 2;
        width: 40%;
        margin: auto;
    }
    #cameraShrine{
        width: 60%;
        margin: auto;
    }
    #musicRecs{
        width: 100%;
    }
}
@media screen and (max-width: 1017px){
    .wrapper{
        background-image: none;
        width: 100%;
        margin: 0;
        top: 0;
        left: 0;
        position: relative;
        transform: none;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: fit-content;
        overflow-y: auto;
    }
    .wrapper>a.shelfItem{
        width: 50%;
    }
    #chatHolder{
        display: flex;
        position: relative;
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width: 600px){
    .wrapper>a.shelfItem{
        width: 80%;
    }
}
@media screen and (max-width: 400px){
    .wrapper>a.shelfItem{
        width: 90%;
    }
    header{
        flex-direction: column;
    }
    header p{
        display: none;
    }
}