body{
    background-image: url('/img/twinkling-stars.gif');
    background-repeat: repeat;
    background-size: 300px;
}

header{
    max-width: 900px;
    margin: auto;
    background-color: #432672b5;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
#back a{
    color: white;
}
.wrapper{
    background-image: url('../img/shelf.png');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(728px*1.4);
    height: calc(1488px*1.4);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    padding: 350px 100px 100px 100px;
}
#shrinesTable{
    width: 100%;
}
#clockShrine{
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-left: 80px;
}
#cameraShrine{
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-right: 80px;
    padding-top: 120px;
}
#clockShrine img, #cameraShrine img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}
#filmRecs{
    display: block;
    width: 250px;
    max-height: 400px;
    margin-top: 25px;
    margin-left: 30px;
}
#filmRecs img{
    width: 100%;
    object-fit: contain;
    margin: 0;
}
#musicRecs{
    display: block;
    max-height: 300px;
    margin-left: 0;
    margin-top: -40px;
}