body{
    background-image: url('/img/backgrounds/map-seamless.jpg');
}
:root{
    --parchment: #c4ac90;
    --blackberry: #48192E;
    --kuro: #281822;
    --meadow: #957083;
}
.wrapper{
    background-color: var(--parchment);
    height: 100vh;
    padding: 2rem;
    line-height: 2;
    color: var(--kuro);
}
ul{
    list-style-type: none;
}
/* ul:not(:first-child){
    border-left: solid 1px var(--kuro);
    padding: 0 2rem;
} */
.link{
    color: var(--kuro);
    display: flex;
}
li.link:before{
    content: "-";
    margin-right: 2rem;
}
.child.first{
    border-bottom: solid 1px var(--kuro);
}
.child{
    border-left: solid 1px var(--kuro);
    padding-left: 2rem;
}
a{
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    width: 100%;
}
.visited:after{
    content: " ✓";
    display: block;
    margin-left: auto;
    padding: 0 0.5rem;
}
.link.alt{
    background-color: #48192e41;
}
.link:not(.alt){
    background-color: #28182200;
}
.link:hover{
    background-color: var(--kuro);
    color: var(--meadow);
}